@page "/aifileupload"

<h1>AIファイルのアップロード</h1>

名前：
<input type="text" @bind="@uploadFile.DisplayName" />
<br />

<InputFile OnChange="LoadFiles" />
<br />

<span>@errorMessage</span>

@if (isLoading)
{
    <p>Loading...</p>
    <br />
}

@if (uploadFile.FileName != null)
{
    <p id="file-@(uploadFile.FileName)">
        <strong>Name:</strong> <span id="file-name">@(uploadFile.FileName)</span><br />
        <strong>Last modified:</strong> <span id="file-last-modified">@(uploadFile.LastModified.ToString())</span><br />
        <strong>Size (bytes):</strong> <span id="file-size">@(uploadFile.Size)</span><br />
        <strong>Content type:</strong> <span id="file-content-type">@(uploadFile.ContentType)</span><br />
    </p>
}

<br />
<button @onclick="ButtonUploadClickAsync">アップロード</button>
<br />
<span>@saveMassage</span>
